<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Sockets.Plugin"/>
        <codeBase href="net45/Sockets.Implementation.NET.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>